<h1 class="text-center my-3">New Transaction</h1>
<%= render "form", expense: @expense, group: @group %>
<br>
<div>
  <%= link_to "Back to Transactions", user_group_expenses_path(current_user, @group), class: "fs-4" %>
</div>
